
<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-4 fw-bold">About the Alpha Blog</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Just learning the Rails application and deployment with this app.</p>
      
            <div class="container px-5">
        <img src="/assets/home-back-image.jpeg" class="img-fluid border rounded-3 shadow-lg mb-4" alt="Example image" width="75%"  loading="lazy">
      </div>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <%= link_to 'Home Page', root_path, class: "btn btn-primary btn-lg px-4" %>
      </div>
    </div>
    

   
  </div>

