
<div id="page-content">
  <div class="container" id="home-container">
    <div class="p-5 text-center bg-image rounded-3 jumbotron" style="">
      
        <div class="d-flex justify-content-center align-items-center h-100">
          <div class="text-white">
            <h1 class="mb-3">Alpha-Blog</h1>
            <h4 class="mb-3">About the alpha-blog application</h4>
            <a class="btn btn-primary btn-lg " href="/articles/" role="button">Articles</a>
          </div>
        </div>
    
    </div>
  </div>
</div> 

 <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Your Website</small>
    </div>
  </footer>
