     
<br><br><br><br>
  <footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright ©<%= link_to "CincyPlanet", "http://cincyplanet.com", class: "text-white", style: "text-decoration:none" %></small>
    </div>
  </footer>
